@charset "UTF-8";
/* CSS Document */

*{
  margin : 0;
  padding : 0;
}

div{
  height : 100vh;
}
h1{
  text-align : center;
  line-height : 100vh;
  color : white;
  font-size : 70px;
}

p{
  text-align : center;
  line-height : 100vh;
  font-size : 30px;
}


.up{
  background : url("sku_img/test01.png") no-repeat center;
  background-size: cover;
  background-attachment: fixed;
}

.bg{
  background : url("sku_img/test03.png") no-repeat center;
  background-size : cover;
  background-attachment : fixed;
}

.info{
  width : 100%;
  max-width : 960px;
  margin: auto;
  align-self: center;
}


.container {
    position: fixed;
    width: 100%;
    max-width: 100%;
	height: 0%;
    overflow: hidden;
    background-color: rgba( 255, 255, 255, 0.5 );
}

header {
    width: 100%;
    display: flex;
    justify-content: center;
    background: none;
		
}

.container + .container {
    margin-top: 50px;
}

.s-header {
    max-width: 500px;
}

header ul {
    width: 100%;
    max-width: 100%;
    height: auto;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

header ul .logo {
    margin-right: auto;
}

header ul .menus {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    right: 0;
}

header ul .menus li {
    cursor: pointer;
    color: #666;
}

header ul .menus li:hover {
    color: #000;
}


header ul .menus li + li {
    margin-left: 20px;
}

header .menu_close_btn,
header .menu_open_btn {
    display: none;
}

header button {
    border: none;
    background: transparent;
    font-size: 18px;
    cursor: pointer;
}

@media (max-width: 768px) {
    header ul {
        max-width: 80%;
    }

    header ul .menus {
        position: absolute;
        top: 0;
        left: 100%;
        width: 80%;
        height: 100%;
        background: #ddd;
        transition: all 0.5s ease-in-out;
    }

    header.open ul .menus {
        left: 20%;
    }

    header ul .menus ul {
        max-width: 100%;
        height: 100%;
        flex-direction: column;
        justify-content: center;
    }

    header ul .menus li + li {
        margin-left: 0;
        margin-top: 10px;
    }

    header .menu_open_btn,
    header .menu_close_btn {
        display: block;
    }

    header .menu_close_btn {
        position: absolute;
        top: 20px;
        right: 5%;
    }
}

.s-header header ul {
    max-width: 80%;
}

.s-header header ul .menus {
    position: absolute;
    top: 0;
    left: 100%;
    width: 80%;
    height: 100%;
    background: #ddd;
    transition: all 0.5s ease-in-out;
}

.s-header header.open ul .menus {
    left: 20%;
}

.s-header header ul .menus ul {
    max-width: 100%;
    height: 100%;
    flex-direction: column;
    justify-content: center;
}

.s-header header ul .menus li + li {
    margin-left: 0;
    margin-top: 10px;
}

.s-header header .menu_open_btn,
.s-header header .menu_close_btn {
    display: block;
}

.s-header header .menu_close_btn {
    position: absolute;
    top: 20px;
    right: 5%;
}

